a { color: #4B58A6; }

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #4B58A6;
}

#mapCanvas img {
  max-width: none;
}

.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

/* lmz added */
body {
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 font-size: 69%;
 color: #4F4F4F;
}
#content h1, .contentheading, div.componentheading {
 color: #EA790D;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 1.4em;
 padding:1em 0 .5em 0;
}

label {
 font-weight: bold;
}

div.alert-info {
 width:170px;
 margin: 10px auto;
 text-align: center;
 font-size: 1.6em;
 color: #3A87AD;
 background-color: #D9EDF7;
 border: 1px solid #BCE8F1;
 -webkit-border-radius: 4px;
 padding: 8px;
 text-shaddow: 0 1px 0 rgba(255,255,255,0.5);
}

button#reset {
 background-color: #FFDB94;
 text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
 cursor: pointer;
 -webkit-border-radius: 4px;
 -webkit-appearance: none;
 padding: 8px;
}

h3 {
 color: #EA790D;
 font-size: 1.2em;
 font-weight: bold;
 line-height: 1.1em;
 margin: 0.8em 0;
}

table.map_info {
 border-spacing: 0px;
}

table.map_info, table.map_info tr { font-size:10pt; }

table.map_info th {
  width: 180px;
  text-align:right;
  background-color: rgb(99,115,102);
  color: white;
}

table.map_info th,
table.map_info td,
table#filters th,
table#filters td 
{
  padding: 4px 8px;
}

table#filters th
{
  width:130px;
  text-align:right;
  vertical-align:top;
}

select#ddlRadius { width:110px; }

#slider { margin: 4px 14px; }

h1 {
  color: rgb(99,115,102);
}

div#legend {
 width:150px;
 background-color:white;
 border: 1px solid #aaaaaa;
}

div#legendtext {
 padding: 4px;
 background-color:white; 
}

div#iconbox {
 height: 20px;
 width: 20px;
 margin: 4px;
 float: left;
}

div#lineicon {
 margin-top:7px;
 height:3px;
 width:20px;
 opacity:0.6; 
}

div.citywide-info-window {
  position:absolute;
  left:350px;
  top:600px;
  width:650px;
  border:1px solid #aaaaaa;
  background-color:white;
  padding:5px;
  z-index:1000;
}

div.citywide-info-x {
  float:right;
  padding-right:10px;
  cursor:pointer;
}

div.infoBoxRelative {
 position: relative;
}

/* close button on top */
div.infoBox img {
 z-index: 12;
}

/* extra padding for the pointer */
div.infoTable {
 z-index: 1;
}

div.googft-info-window {
 background: white;
 padding:15px;
 border: 1px solid #ABABAB; 
}

div.infoPointer {
 position:absolute; 
 left:300px;
 bottom:-70px;
 z-index: 10;
 overflow:hidden;
}