a { color: #4B58A6; }

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #4B58A6;
}

#mapCanvas img {
  max-width: none;
}

.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

/* lmz added */
table.map_info, table.map_info tr { font-size:10pt; }

table.map_info th {
  width: 180px;
  text-align:right;
  background-color: rgb(99,115,102);
  color: white;
}

table.map_info th,
table.map_info td,
table#filters th,
table#filters td 
{
  padding: 4px 8px;
}

table#filters th
{
  width:130px;
  text-align:right;
  vertical-align:top;
}

select#ddlRadius { width:110px; }

#slider { margin: 4px 4px; }

h1 {
  color: rgb(99,115,102);
}

div#legend {
 width:150px;
 background-color:white;
}

div#legendtext {
 padding: 4px;
 background-color:white; 
}

div#iconbox {
 height: 20px;
 width: 20px;
 margin: 4px;
 float: left;
}

div#lineicon {
 margin-top:7px;
 height:3px;
 width:20px;
 opacity:0.6; 
}